@use '../utils' as u;
@use '../mixins/global' as m;



.main-button{
    background-color: var(--c-light-blue);
    padding-inline: u.rem(20);
    color: #fff;
    border-radius: 5px;
}

a.main-button{
    display: block;
    width: fit-content;
    text-decoration: none;
    padding-block: u.rem(3);
}

