@use '../mixins/global' as m;
@use '../utils' as u;
.off-canvas{
    // position: fixed;
    // right: 0;
    // top: 0;
    height: 100%;
    color: #fff;
    background-color: var(--c-dark-blue);
    padding: 32px;
    h2{
        font-size: u.rem(18);
    }

    ul{
        padding: 0;
        li{
            list-style: none;
            padding-block: u.rem(12);
            white-space: nowrap;
            border-bottom: 1.5px solid #fff;
            &:last-of-type{
                border-bottom: none;
            }
            
            a{
                font-size: u.rem(16);
                text-decoration: none;
                color: #fff;            }
        }
    }

}