@use '../utils' as u;
@use '../mixins/global' as m;
.white-card{
    background-color: #fff;
    border-radius: 5px;
    padding: u.rem(15);

    h2, h3{
        display: inline-block;
    }

    .main-button{
        font-size: u.rem(12);
    }
}

.attendace{
    p{
        font-size: 12px;
    }

    .progress-bar{
        display: block;
        position: relative;
        width: 100%;
        height: u.rem(6);
        border-radius: 5px;
        &::after{
            @include m.absolute-positioned($top: 0, $right: 0);
            width: 50%;
            height: 100%;
            border-radius: 5px;
        }
    }

    &__blue{
        h4{
            color: var(--c-light-blue);
        }

        .progress-bar{
            background-color: #cfe6f0;
            &::after{
                background-color: var(--c-light-blue);
            }
        }

        
    }

    &__pink{
        h4{
            color: var(--c-pink);
        }
        .progress-bar{
            background-color: #e39ee3;
            &::after{
                background-color: var(--c-pink);
            }
        }
    }

    &__dark-blue{
        h4{
            color: var(--c-steel-blue);
        }
        .progress-bar{
            background-color: #acbac9
            ;
            &::after{
                background-color: var(--c-steel-blue);
            }
        }
    }

}
.personal-info{
        
    label{
        font-size: u.rem(14);
        display: block;
    }

    input{
        height: u.rem(26);
        font-size: u.rem(12);
        @include m.border-solid($color: var(--c-light-blue), $borderRadius: 5px);
        outline: none;
        width: 100%;
        padding: u.rem(8);
    }

    .main-button{
        margin-inline-start: auto;
    }

}

.leave-balance{
    .yearly, .sick{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            margin-bottom: u.rem(22);
        }
        p{
            font-size: u.rem(14);
        }
        span{
            color: var(--c-light-blue);
            font-size: u.rem(12);
        }
    }

    .vertical-line{
        width: 1px;
        height: 100%;
        background-color: var(--c-light-blue);

    }

    a{
        margin-inline-start: auto;
    }
}

.salaries{
    &__current{
        font-size: u.rem(24);
    }
    &__info{
        font-size: u.rem(12);
        text-align: center;
    }
}

.my-requests{
    input{
        width: 50%;
        height: u.rem(31);
        @include m.border-solid($borderRadius: 4px);
    }

    .main-button{
        height: u.rem(31);
        padding: u.rem(10);
    }

    ul{
        margin: 0;
        padding: 0;
        margin-block-start: u.rem(26);
        li{
            list-style: none;
            border-bottom: 1px solid var(--c-steel-blue);
            &:last-of-type{
                border-bottom: none;
            }

            .body{
                font-size: u.rem(16);

                span{
                    color: #156585;
                    font-size: u.rem(14);
                }
            }
        }
        
    }
}