@use '../utils' as u;
@use '../mixins/global' as m;
.white-card{
    background-color: #fff;
    border-radius: 5px;
    padding: u.rem(15);
    overflow: hidden;
    .main-button{
        font-size: u.rem(12);
    }
}

.attendace{
    p{
        font-size: 12px;
    }

    .progress-bar{
        display: block;
        position: relative;
        width: 100%;
        height: u.rem(6);
        border-radius: 5px;
        &::after{
            @include m.absolute-positioned($top: 0, $right: 0);
            width: 50%;
            height: 100%;
            border-radius: 5px;
        }
    }

    &__blue{
        h4{
            color: var(--c-light-blue);
        }

        .progress-bar{
            background-color: #cfe6f0;
            &::after{
                background-color: var(--c-light-blue);
            }
        }

        
    }

    &__pink{
        h4{
            color: var(--c-pink);
        }
        .progress-bar{
            background-color: #e39ee3;
            &::after{
                background-color: var(--c-pink);
            }
        }
    }

    &__dark-blue{
        h4{
            color: var(--c-steel-blue);
        }
        .progress-bar{
            background-color: #acbac9
            ;
            &::after{
                background-color: var(--c-steel-blue);
            }
        }
    }

    .stats{
        font-size: u.rem(8);
    }
    .square{
        display: inline-block;
        width: u.rem(14);
        height: u.rem(14);
        min-width: u.rem(14);
        min-height: u.rem(14);
        margin-inline-end: u.rem(5);     
    } 
    .stat-lb{
        color: var(--c-light-blue);
        .square{
            background-color:  var(--c-light-blue);
        }
    }
    .stat-pink{
        color: var(--c-pink);
        .square{
            background-color:  var(--c-pink);
        }
    }
    .stat-db{
        color: var(--c-steel-blue);
        .square{
            background-color:  var(--c-steel-blue);
        }
    }

    .statistics-chart{
        width: 100%;
        height: 100%;
    }

    #statsChart{
        max-width: 100%;
        max-height: 100%;
    }

}
.personal-info{
        
    label{
        font-size: u.rem(14);
        display: block;
    }


    .main-button{
        margin-inline-start: auto;
    }

}

.leave-balance{
    .yearly, .sick{
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-color: var(--c-light-blue) !important;

        img{
            margin-bottom: u.rem(22);
        }
        p{
            font-size: u.rem(14);
        }
        span{
            color: var(--c-light-blue);
            font-size: u.rem(12);
        }
    }

    .vertical-line{
        width: 1px;
        height: 100%;
        background-color: var(--c-light-blue);

    }

    a{
        margin-inline-start: auto;
    }
}

.salaries{
    &__current{
        font-size: u.rem(24);
    }
    &__info{
        font-size: u.rem(12);
        text-align: center;
    }
}

.my-requests{
    // .search-input{
    //     width: 50%;
    // }

    .main-button{
        height: u.rem(31);
        padding: u.rem(10);
    }

    ul{
        margin: 0;
        padding: 0;
        margin-block-start: u.rem(26);
        li{
            list-style: none;
            border-bottom: 1px solid var(--c-steel-blue);
            &:last-of-type{
                border-bottom: none;
            }

            .body{
                font-size: u.rem(16);

                span{
                    color: #156585;
                    font-size: u.rem(14);
                }
            }
        }
        
    }
}

// Second Page

.leaves_page{
    height: calc(100vh - 86px);

    .vacations-nav-pills{
        padding: 0;
        margin: 0 !important;
        .nav-item{
            background-color: #fff;
            &:first-of-type{
                border-start-start-radius: 5px;
                border-end-start-radius: 5px;
            }
            &:last-of-type{
                border-end-end-radius: 5px;
                border-start-end-radius: 5px;
            }

            .nav-link{
                padding-inline: u.rem(30);
                color: #000;
                transition: transform 0.15s ease-in-out;
            }
            .active{
                position: relative;
                color: #fff;
                background-color: var(--c-light-blue);
                transform: scale(1.1);
                transition: transform 0.15s ease-in-out;
            }
        }
    }

    .my-requests-nav-pills{
        .nav-link{
            background-color: transparent;
            border: 1px solid var(--c-pink);
            color: var(--c-pink);

            &.active{
                background-color: var(--c-pink);
                color: #fff;
            }
            
        }

    }

    .my-leaves{
        select{
            min-width: 155px;
            height: 31px;
            background-color: transparent;
            color: var(--c-light-blue);
            @include m.border-solid(1, var(--c-light-blue), 4px);
            font-size: u.rem(17);
        }
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            overflow-y: scroll;
            height: 100%;

            li{
                input{
                    width: 100%;
                    height: 25px;
                    @include m.border-solid($color: var(--c-light-blue), $borderRadius: 5px);
                    font-size: u.rem(14);
                    color: var(--c-steel-blue);
                    padding: u.rem(5);
                    outline: none;
                }
                border-bottom: 1px solid var(--c-steel-blue);
                &:last-of-type{
                    border-bottom: none;
                }
            }
            
            &::-webkit-scrollbar-track {
                border-radius: 10px;
                background-color: transparent;
            }
            
            &::-webkit-scrollbar {
                width: 5px;
                background-color: transparent;
            }
            
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: var(--c-light-blue);
            }
        }
    }

    .calendar{
        background-color: #fff;
        border-radius: 5px;
        overflow: hidden;
        font-size: u.rem(26);
        &__blue-side{
            border-radius: 5px;
            display:  flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: var(--c-light-blue);
            color: #fff;
            h3{
                font-size: u.rem(16) !important;   
                text-align: center;    
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                li{               
                    button{
                        padding-inline: u.rem(10);
                        width: 100%;
                        color: #fff;
                    }
                    text-align: center;
                    &.active{
                        font-size: u.rem(25);
                        button{
                            color: var(--c-light-blue);
                            padding-block: u.rem(14) u.rem(9);
                            background-color: #fff;
                        }
                    }

                    $fontSize : 18px;
                    $paddinBlock: 13px;
                    @for $i from 1 through 4 {
                        $topChild : 5 - $i;
                        $bottomChild : 5 + $i;
                        &:nth-child(#{$topChild}) {
                            button{
                                font-size: $fontSize;
                                padding-block: $paddinBlock;
                            }
                        }
                        &:nth-child(#{$bottomChild}) {
                            button{
                                font-size: $fontSize;
                                padding-block: $paddinBlock;
                            }
                        }
                        $fontSize: $fontSize - 5px;
                        $paddinBlock: $paddinBlock - 3;
                    }
                }
            }
        }
        &__white-side{
            font-size: u.rem(16);
            color: var(--c-calendar-blue);
            &__head{
                display: flex;
                align-items: center;
                justify-content: space-between;
                >div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &__body{
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: u.rem(5);
                height: 100%;
                >button{
                    color: var(--c-calendar-blue);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            
        }
    }

}

.attendace-report{
    &__date-filter{
        color: var(--c-light-blue);
    }

    table {
        $border: 1px solid var(--c-light-blue);
        border-collapse: separate;
        border-spacing: 0;
        min-width: 350px;
        text-align: center;

        tr{

            &:first-child{
                th{
                    &:first-child{
                        border-start-start-radius: 6px;
                    }
                    &:last-child{
                        border-start-end-radius: 6px;
                    }
                }
            }
            &:last-child{
                td{
                    &:first-child{
                        border-end-start-radius: 6px;
                    }
                    &:last-child{
                        border-end-end-radius: 6px;
                    }
                }
            }

            th{
                border-top: $border;
            }
            th, td{
                &:first-child{
                    border-inline-start: $border;
                }
                &:last-child{
                    border-inline-end: $border;
                }
                border-inline-end: $border;
                border-bottom: $border;
                padding: 5px;
            }
        }
      }  
}

.official-holidays{
    &__chart-title{
        text-align: center;
        font-size: u.rem(30);
        color: var(--c-light-blue);

    }

    white-space: nowrap;
    span{
        display: block;
        height: u.rem(15);
        border-radius: u.rem(5);
    }

    &__stat-pink{
        color: var(--c-pink);
        &__stat-bar{
            background-color: var(--c-pink);
        }
    }
    &__stat-dark-blue{
        color: var(--c-dark-blue);
        &__stat-bar{
            background-color: var(--c-dark-blue);
        }
    }
    &__stat-light-blue{
        color: var(--c-light-blue);
        &__stat-bar{
            background-color: var(--c-light-blue);
        }
    }

    input[type="checkbox"] {
        display: none;
        + label{
            cursor: pointer;
            span{
                display: inline-block;
                width: u.rem(18);
                height: u.rem(18);
                border: 1px solid;
                border-radius: 5px;
            }
        }
        &:checked + label span {
            background-image: url('data:image/svg+xml,<svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.05322 6.38098L5.01807 11.1232L12.9482 0.605591" stroke="white" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    &__pink-checkbox{
        color: var(--c-pink);
        input[type="checkbox"]{
            + label span{
                border-color: var(--c-pink);
            }
            &:checked + label span {
                background-color: var(--c-pink);
            }
        }
    }
    &__dark-blue-checkbox{
        color: var(--c-dark-blue);
        input[type="checkbox"]{
            + label span{
                border-color: var(--c-dark-blue);
            }
            &:checked + label span {
                background-color: var(--c-dark-blue);
            }
        }
    }
    &__light-blue-checkbox{
        color: var(--c-light-blue);
        input[type="checkbox"]{
            + label span{
                border-color: var(--c-light-blue);
            }
            &:checked + label span {
                background-color: var(--c-light-blue);
            }
        }
    }
    
}